@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-border: var(--border);
}

:root {
  /* Light Mode Palette */
  --background: #ffffff;
  --foreground: #09090b; 

  --primary: #0f172a;    
  --primary-foreground: #ffffff;

  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;

  --card: #ffffff;
  --card-foreground: #09090b;

  --muted: #e4e4e7;    
  --muted-foreground: #52525b; 

  --border: #e4e4e7;    
}

.dark {
  /* Dark Mode Palette */
  --background: #09090b;
  --foreground: #ededed; 

  --primary: #3b82f6;    
  --primary-foreground: #ffffff;

  --secondary: #18181b;  
  --secondary-foreground: #f4f4f5;

  --card: #09090b;       
  --card-foreground: #ededed;

  --muted: #121214;      
  --muted-foreground: #a1a1aa; 

  --border: #ededed;  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}